.container {
  
}

.main {
  min-height: 200vh;
	width: 100%;
}
.main h5{
	text-align: left;
	width: 100%;
	padding: 10px 20px;
	
}
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.hero{
	background: linear-gradient(#333, #111);
	width: 100%;
	height: 400px;
	color: #fff;
	font-family: 'Poppins';
	font-size: 10px;
	font-weight: 400;
	padding-top: 80px;
	
}
.hero img{
	width: 30%;
	position: absolute;
	right: 10%;
	
}
.text{
	width: 50%;
	position: relative;
	padding: 0px 20px;
	
	
}
.text a{
	background: #fff;
	border-radius: 18px;
	width: 100px;
	height: 20px;
	color: #333;
	padding: 5px 20px;
	
}
.box{
	width: 100%;
	height: 130px;
/* From https://css.glass */
	background: rgba(21, 21, 21, 0.16);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(2.9px);
	-webkit-backdrop-filter: blur(2.9px);
	border: 1px solid rgba(21, 21, 21, 0.4);
	margin-top: 20px;
}

.box ul{
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	
	
}
.box ul li{
	width: 300px;
	height: 110px;
	padding: 10px;
	margin: 0px 20px;
	color: #fff;
	z-index: 5;
	
}	
.bar{
	width: 100%;
	height: 80px;
	padding: 5px 10px;
	color: #333;
	position: relative;
	top: 50px;
	z-index: 8;
	
	
}
.bar_list{
	width: 100%;
	height: 100%;
	color: #000;
	background: rgba(227, 237, 247, 0.25);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(3.5px);
	-webkit-backdrop-filter: blur(3.5px);
	border: 1px solid #111;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	
}
.grid {
  display: flex;
  align-items: top;
  justify-content: space-evenly;
  width: 100%;
	height: 420px;
	position: relative;
	top: 140px;
	flex-wrap: wrap;
	
}

.card {
  margin: 0rem 1rem;
  padding: 1.5rem;
  text-align: left;
  color: #333;
  text-decoration: none;
  width: 200px;
  height: 400px;
  background: rgba(227, 237, 247, 0.25);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(3.5px);
	-webkit-backdrop-filter: blur(3.5px);
	border: 1px solid #111;
	display: flex;
	align-items: left;
	justify-content: center;
	flex-direction: column;
	
}
.card img{
	width: 60%;
	
}
.card h2 {
  margin: 5px 0px;
  font-size: 1.5rem;
}

.card p {
  margin: 10px 0px;
  font-size: 1.25rem;
  width: 100%;
  height: 60px;
  
}
.card h5{
	width: 100%;
	position: relative;
	right: 20px;
	color: #359;
	
}
.card button{
	background: #333;
	border-radius: 12px;
	color: #fff;
	padding: 5px 15px;
	border: 0;
	
}
.categories{
	width: 98%;
	height: 340px;
	padding: 10px;
	display: flex;
	align-items: top;
	justify-content: space-between;
	flex-wrap: wrap;
	position: relative;
	top: 220px;
	margin-left: auto;
	margin-right: auto;
	
}
.categories_body{
	width: 150px;
	height: 150px;
	background: #fff;
	color: #333;
	padding: 10px;
	border: 1px solid #000;
	border-radius: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	
}
.categories_body img{
	width: 50%;
	
}
.logo {
  height: 1em;
  margin-left: 0.2rem;
}

@media (min-width: 576px) {
	.card h2{
		font-size: 1rem;
		
	}
	.card p {
  font-size: 0.75rem;
  line-height: 1;
	}
	.logo {
  height: 0.5em;
  
	} 
}
